.card-img-top{
    width: 100px;
    display: block;
    margin: 0 auto;
}

.card{
    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 115.68%);
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 10px;
}
  
